<a href="{{ host }}" 
style="background-color: #4bc465;
       border: 1px solid #4bc465;
       border-radius: 3px;
       color: #fff;
       display: block;
       font-family: HelveticaNeue-Light,HelveticaNeue,Segoe UI Semilight,Arial;
       font-size:20px;
       line-height: 45px;
       text-align: center;
       text-decoration: none;
       font-weight: 300;
       margin: 20px 0px;">
  Take me to Leadboard</a>
