{% extends "parts/_template.njk" %} 

{% macro chooseIcon(type) %}

{% if type==="Call" %}
<img src='./images/call-activity.svg' />
{% elif type === "Meeting" %}
<img src='./images/meeting-activity.svg' />
{% elif type === "Deadline" %}
<img src='./images/deadline-activity.svg' />
{% elif type === "Task" %}
<img src='./images/task-activity.svg' />
{% elif type === "Email" %}
<img src='./images/email-activity.svg' />
{% elif type === "Lunch" %}
<img src='./images/lunch-activity.svg' />
{% else %}
<img src='./images/call-activity.svg' />
{% endif %}

{% endmacro %}

{% macro create(activity, icons) %}
{% set leadPath = "https://spg-leadboard.herokuapp.com/lead/" + activity.lead._id%}
    <div class="activityTime">{{ activity.date }}</div>
    <div class="activityContent">
      <div class="activityIcon">{{ chooseIcon(activity.type) }}</div>
      <div> <a href="#" style="text-decoration:none;  color: #3d4145;">{{ activity.subject }}</a><br>
      <div class="linkedTo">{{ activity.assignedTo.name }} · {{ activity.organization.name }} · 
        <a style="color: #727272;text-decoration:none;" href="{{ leadPath }}">{{ activity.lead.name }}</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}


{% block main %}
{% set activities = [{
          "type"  : "Call",
          "subject" : "Call Bob",
          "date" : "12.12.2018",
          "assignedTo" : {"name": "John Smith"},
          "lead" : {"_id": "5b8cd9a7548c7300146d9d5d" , "name": "new computer"},
          "organization" : {"name": "Red Dog Inc"}
        }]
    %}

<div class="container">
  <div class="greetings">Hello, {{ user.name }} <br></div>
  <div class="info"> Here are your current Leadboard <strong> activities:</strong></div>
<div class="currentDateWrapper">this is date:{{ currentDate }}</div>
<div class="activitiesWrapper">
  {% for activity in activities %}
      {{ 
        create(activity) 
      }}
    {% endfor %}
{% include "_gotoButton.njk" %}
</div>
</div>
{% endblock %}