{% extends "parts/_template.njk" %} 

{% macro chooseIcon(type) %} 
  {% if type= = "Call" %}
  <img src="http://leadboard.in6k.com/static/media/call-activity.69f18612.svg" height="20px" width="20px" style="margin: 10px"/>
  {% elif type == "Meeting" %}
  <img src='{{ host }}/static/media/meeting.e85144a1.svg' height="20px" width="20px" style="margin: 10px" /> 
  {% elif type == "Deadline" %}
  <img src='http://10.0.1.73:80/static/media/deadline-activity.193e36ae.svg' height="20px" width="20px" style="margin: 10px"/>
  {% elif type == "Task" %}
  <img src='https://static.pipedriveassets.com/lib/img/emails/icons/activity_task_48.png' height="20px" width="20px" style="margin: 10px"/>
  {% elif type == "Email" %}
  <img src='https://spg-leadboard.herokuapp.com/static/media/meeting.e85144a1.svg' height="20px" width="20px" style="margin: 10px"/> 
  {% elif type == "Lunch" %}
  <img src='./images/lunch-activity.svg' height="20px" width="20px" style="margin: 10px" /> 
  {% else %}
  <img src='./images/call-activity.svg' height="20px" width="20px" style="margin: 5px" /> 
  {% endif %}
{% endmacro %}

{% macro create(activity) %} 
  {% set leadPath = "https://spg-leadboard.herokuapp.com/lead/" + activity.lead._id %} 
  {% set activityTime = activity.time %}
  <div style="background-color: #f3f5f6;
              padding: 20px;">
  <div style="color: #222;
                background-color: #f9fafa;
                font-size: 17px;
                padding: 9px 15px;
                display: inline-block;">
    {% if activity.hasStartTime %} 
      {{ activityTime }} 
    {% else %} 
      ALL DAY 
    {% endif %}
  </div>
  <div style="padding:20px; background-color: #fff;">
    <div style="height:40px;
                width:40px; 
                background-color: #e0e4e7;
                border-radius: 100%;
                float: left;">
      {{ chooseIcon(activity.type) }}
    </div>
    <div style="margin-left: 60px;
                font-size: 18px;
                font-family: HelveticaNeue,Segoe UI,Arial;
                padding: 0;">
      <a href="#" style="text-decoration:none; color: #3d4145;">
        {{ activity.subject }}</a><br>
      <div style="text-decoration: none;
                  color: #727272; 
                  font-size:16px;">
        {{ activity.assignedTo.firstname }} 
        {{activity.assignedTo.lastname}} · 
        {{ activity.organization.name }} ·
        <a style="color: #727272;text-decoration:none;" href="{{ leadPath }}">{{ activity.lead.name }}</a>
      </div>
    </div>
  </div>
</div>
{% endmacro %} 

{% set tamplateHost = host %}
<div style="background-color: #f3f5f6;">
  {% block main %}
  <div style="max-width: 640px;
            font-size: 18px;
            background-color: #fff;
            padding: 20px;
            margin: 0 auto;">
    <div style="color: #3d4145;
              font-family: HelveticaNeue,Segoe UI,Arial;
              font-size: 26px;
              padding-bottom: 15px;">
      Hello, {{ user.firstname }} <br></div>
    <div style="color: #3d4145;
         font-family: HelveticaNeue-Light,HelveticaNeue,Arial;
         padding-bottom: 20px;">
      Here are your current Leadboard <strong> activities:</strong></div>
    <div style="background-color: #f3f5f6;
               color: #222;
               padding: 20px;
               margin-bottom: 2px;">
      {{ currentDate }}</div>
    {% for activity in activities %} 
      {{ create(activity) }} 
    {% endfor %} 
    {% include "_gotoButton.njk" %}
  </div>
  <div style="max-width: 640px;
     padding: 60px 0px 20px 0px;
     text-align: center;
     margin: 0 auto;
     font-size: 14px;
     color: #3d4145;">
    Copyright © 2018
    <a style="color: #4bc465;
            text-decoration: none;" href="{{ tamplateHost }}">Leadboard</a> by Software Planet Group Ltd.</div>
  {% endblock %}
</div>