body {
  background-color: #f3f5f6;
}

.header {
  text-align: center;
  font: 400 14px/20px Open Sans, sans-serif;
}

.container {
  background-color: #fff;
  padding: 20px;
}

.currentDateWrapper {
  background-color: #f3f5f6;
  color: #4ac465;
  padding: 20px;
}

.activitiesWrapper {
  background-color: #f3f5f6;
  padding: 20px;
}

.activity {
  background-color: #fff;
  padding: 20px;
}

.button {
  text-align: center;
  background-color: #4ac465;
  font-family: HelveticaNeue-Light, HelveticaNeue, Segoe UI Semilight, Arial;
}

.linkedTo {
  text-decoration: none;
  color: #727272;
}