.form {
    width: 100%;
    background-color: white;
    padding: 80px 0px;
}

.formTitle {
    font-size: 42px;
    color: #26292C;
    text-align: center;
    padding-bottom: 10px;
}

.formControl {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.registerLink {
    margin-top:5px;
    margin-bottom: -15px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 550px;
    justify-content: center;
    font-family: "MuseoSans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,"Helvetica Neue",Verdana,sans-serif;
    position: relative;
    margin: 30px auto 0;
    display: block;
    background: #FFF;
    padding: 5% 10px;
}

.formButton {
    margin: auto;
    min-width: 300px;
    width: 70%;
    min-height: 50px;
    max-width: 100%;
    font-family: MuseoSans,sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: white;
    background: #2cbf55;
    border: 0;
    border-radius: 0 0;
}
