body {
  margin: 0;
  padding: 0;
  font: 400 14px/20px "Open Sans", sans-serif;
  background-color: #f7f7f7;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
header {
  background-color: #404346;  
}
.main-menu {
  display: flex;
  align-items: center;
  /*height: 48px;*/
}
.main-menu__item {
  padding: 13px;
  color: #b9babb;
}
.main-menu__item:hover {
  background-color: black;
  color: white;
}

.main-menu__item div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.logo {
	font-size: 25px;
  color: white;
  padding: 0 20px 0 10px;
}
li {
	padding: 0 5px;
	cursor: pointer;
}
.main-menu__icon {
  /*color: #fff;*/
  font-size: 1.5em;
  padding-right: 10px;
}

.main-menu__item-active {
  background-color: black;
  color: white;
}

.main-menu__search {
    height: 32px;

    border-radius: 4px;
    box-sizing: border-box;
    border: medium none;
    padding: 8px 4px 8px 32px;
    margin-right: 20px;

    background-color: #747678;
    color: white;
}

#tool-panel {
  padding: 0;
  margin: 0;
  height: 54px;
  /*background-color: gray;*/
}


.tool-panel__button {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 14px;
}

/* LOGIN FORM */

#login-container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

#login-form {
  width: 650px;
  background-color: white;
  padding: 80px 60px;
}

.login-form__title {
  font-size: 32px;
  color: #26292C;
  text-align: center;
  padding-bottom: 25px;
}

#login-form>.login-form__field {
  position: relative;
}

#login-form>.login-form__field>label {
  position: absolute;
}

#login-form label {
  position: absolute;
  top: -10px;
  bottom: 0;
  left: 30px;
  width: 100%;
  transition: 0.2s;
  color: #aeb5b7;
  font-size: 22px;
}

.login-form__field {
  margin-top: 35px;
}

.login-form__field-error {
  color: #e84646;
  font-size: 12px;
}

.login-form__control {
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 85px;
}

.login-form__field input:focus+label {
  top: 100%;
  margin-top: -26px;
  font-size: 2em;
}

.login-form__field input {
  border: 0;
  border-bottom: 1px solid #26292c;
  outline-style: none;
  width: 520px;
  font-size: 22px;
  padding-bottom: 5px;
  padding-left: 30px;
}

.login-form__field-red input {
  border-bottom: 1px solid red !important;
}

.big-button {
  display: inline-block;
  cursor: pointer;
  background-color: #2cbf55;
  border: 0;
  min-width: 365px;
  font-size: 25px;
  padding: 9px 24px;
  color: white;
  height: 60px;
}

.big-button:hover {
  background-color: #56c96e;
}

/* FOOTER */
.footer {
  padding-top: 40px;
  text-align: center;
  color: #888E94;
}
