.wrapper{
  color:black;
  background-color: red;
}
.wrapper:hover{
  color:black;
  background-color: burlywood;
}
.wrapper:focus{
  color:white;
  background-color: black;
}
.wrapper button:focus{
  color:white;
  background-color: blue;
}

.active button{
  background-color: green;
}

.dropDownButton{
  color:white;
  background-color: black ;
}