.searchInput:hover {
  background-color: #b9babb;
}

.searchInput:focus {
  opacity: 1;
  background-color: #ffffff;
}

.searchInput::placeholder {
  color: #26292c;
  opacity: 1;
  font: 400 14px/20px "Open Sans", sans-serif;
}

.searchInput:focus::placeholder {
  color: #cbcccd;
}

.searchInput {
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: none;
  border: medium none;
  padding: 8px 4px 8px 32px;
  width: 160px;
  height: 32px;
  font: 400 14px/20px "Open Sans", sans-serif;
  opacity: 0.5;
  background-color: #747678;
  outline: none;
  color: black;
}

.searchIcon {
  position: absolute;
  z-index: 0;
  top: 13px;
  left: 13px;
  width: 24px;
  height: 24px;
}

.suggestionsList {
  top: 48px;
  left: 122px;
  display: block;
  position: absolute;
  width: 352px;
  background: #fff;
  padding: 0 0 8px 0;
  margin: 0;
  z-index: 4000;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15), 0px 3px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 4px;
}

.searchWrapper {
  display: block;
  position: relative;
  padding: 8px;
}

.suggestion {
  display: flex;
  flex-direction: row;
  padding: 4px 4px 4px 38px;
  color: #26292c;
  text-decoration: none;
}

.suggestion strong {
  display: block;
  padding: 3px 0 0 0;
  font: 400 14px/20px "Open Sans", sans-serif;
  font-weight: 600;
}

.suggestion small {
  display: block;
  font: 400 12px/16px "Open Sans", sans-serif;
  padding: 2px 0;
}

.suggestion:hover {
  background-color: #317ae2;
  color: #fff
}

.suggestion:hover path {
  fill: #ffffff;
}

.leadIcon {
  width: 24px;
  height: 24px;
}

.leadIcon path {
  fill: #000000;
}

.suggestionsTypes {
  margin-bottom: 8px;
  border-bottom: 1px solid #b9babb;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #f7f7f7;
}

.suggestionsType {
  padding: 0;
  display: flex;
  float: left;
  height: 40px;
  width: 48px;
}

.suggestionsType a {
  position: relative;
  height: 30px;
  width: 48px;
  font: 400 16px/24px "Open Sans", sans-serif;
  color: rgba(38, 41, 44, 0.64);
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
}

.leadTypeIcon {
  height: 20px;
  width: 20px;
}

.leadTypeIcon path {
  fill: #404346;
}

.noResults {
  font: 400 14px/20px "Open Sans", sans-serif;
  padding: 10px;
  cursor: auto;
}