.editView {
  width: 100%;
  background-color: #f7f7f7;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: -1px 0;
}

.cancelButton {
  composes: buttonSmall from "../../../../../../../../styles/common.css";
}

.saveButton {
  composes: buttonSmall from "../../../../../../../../styles/common.css";
  composes: buttonGreen from "../../../../../../../../styles/common.css";
  margin-left: 4px;
}

.actions {
  composes: actions from "../EditViewCommon.css";
  padding: 0 16px 7px;
}
