.noteContent {
  text-align: left;
}

.dateWrapper {
  margin-top: 4px;
  display: inline-block;
  font: 400 12px/16px "Open Sans", sans-serif;
  color: #747678;
}

.textWrapper {
  line-height: 20px;
  margin-top: 10px;
}
