.closed {
  display: none;
}

.itemsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #b9babb;
  width: 100px;
  height: 150px;
  position: absolute;
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 1000;
}
.option {
  width: 100%;
  margin: 2px 0;
  padding: 0;
  text-align: center;
}
.option:hover {
  cursor: pointer;
  background-color: #4a8ae6;
  color: white;
}
