.addButton {
  composes: buttonSmall buttonGreen from "../../../styles/common.css";
  margin-left: 9px;
}

.modalHeading {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 600;
  font-size: 18px;
  text-shadow: rgb(255, 255, 255) 0 1px 0;
  color: rgb(51, 51, 51);
  background: -webkit-linear-gradient(top, rgb(246, 246, 246) 0px, rgb(224, 224, 224) 40px);
  padding: 8px;
}

.modalBody {
  padding: 10px;
}

.modalHeader {
  line-height: 24px;
  font-weight: 600;
  font-size: 18px;
  color: rgb(51, 51, 51);
}

.closeModal {
  text-align: center;
  color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
  height: 18px;
  width: 18px;
  cursor: pointer;
  font-weight: bold;
}

.closeModal:hover {
  background: rgb(204, 204, 204);
  border-color: rgb(204, 204, 204);
  border-radius: 4px;
}

.closeModal:hover i {
  color: white;
}

.nameInputGroupContainer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  width: 350px;
  margin-left: 30px;
}

.nameInputGroupContainer span {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: rgb(34, 34, 34);
  font-weight: 400;
}

.modalFooter {
  margin-left: 10px;
  margin-top: 30px;
  margin-bottom: 20px;
  color: rgb(116, 118, 120);
}

.actions {
  display: flex;
  flex-direction: row;
  margin-left: 180px;
  margin-top: 20px;
}

.buttonSave {
  composes: button buttonGreen from '../../../styles/common.css';
  margin-right: 10px;
}

.disabled {
  opacity: 0.5;
}

.buttonCancel {
  border: none;
  outline: none;
  background: transparent;
  color: rgb(49, 122, 226);
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
}

.hidden {
  display: none;
}

.error {
  color: rgb(255, 255, 255);
  background: rgb(232, 70, 70);
  border: 1px solid rgb(232, 70, 70);
  border-image: initial;
  padding: 5px 10px;
  border-radius: 3px;
  width: 100%;
  margin-bottom: 5px;
}
