.sidebar {
  flex-grow: 1;
  min-width: 380px;
  max-width: 380px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 24px;
}

@media (max-width: 1440px){
  .sidebar {
    margin-left: 0px;
    width: 380px;
  }
}