.button {
  background: #2cbf55;
  border: 0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  height: 32px;
  min-width: 62px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font: 600 14px/20px Open Sans, sans-serif;
  padding: 4px 8px;
  vertical-align: top;
  margin-bottom: 8px;
  margin-right: 17px;
}

.buttonWrapper{
  text-align: right;
}
