.container {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.title {
  padding: 16px 0;
  border-bottom: 1px solid #e5e5e5;
  margin: 0 16px;
  display: flex;
  justify-content: space-between;
}

.titleName {
  display: inline-block;
  font-size: 12px;
  margin-top: 2px;
  color: #800ace;
  font-weight: 600;
  text-transform: uppercase;
  user-select: none;
}