.container{
    display: block;
    width: 100%;
    margin-bottom:8px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
}

.title{
    padding: 16px 0;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
}

.titleName{
    display: inline-block;
    font-size: 12px;
    margin-top: 2px;
    color: #800ace;
    font-weight: 600;
    text-transform: uppercase;
    user-select: none;
}

.editIcon{
    height: 16px;
    width: 16px;
}

.editButton{
    composes: smallButton from "./CardFields/EditView/EditViewCommon.css";
    padding: 0 4px;
}

.SideCard__fields{

}

.SideCard__field-value-name{
    display: block;
    font: 400 16px/24px "Open Sans",sans-serif;
    color: #26292c;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}

.SideCard__field-label-wrap{
    font: 400 12px/16px "Open Sans",sans-serif;
    font-weight: 600;
    color: rgba(38,41,44,0.64);
    text-align: right;
    word-wrap: break-word;
    margin: 2px 0;
    width: 104px;
}

.SideCard__field-value-add-value{
    color: #317ae2;
    font: 400 14px/20px "Open Sans",sans-serif;
    width: calc(100% - 120px);
    margin-left: 10px;
    visibility: hidden;
}

.SideCard__field-value--highlight:hover{
    background-color: #f7f7f7;
}

/*.SideCard__field-value--highlight:hover .SideCard__field-value-add-value{
    visibility: visible;
}*/
