.userImg {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.defaultImg {
  composes: userImg;
  background-color: #686a6c;
}

.dropDownIcon {
  width: 24px;
  height: 24px;
}

.dropDownIcon svg {
  width: 100%;
}

.logoutIcon {
  composes: dropDownIcon;
  margin-right: 16px;
}

.userInfo {
  margin: 0 8px;
  flex-direction: column;
  justify-content: center;
}

.userInfo small {
  align-self: flex-start;
  font-size: 10px;
  height: 16px;
}

.userInfo span {
  align-self: flex-start;
  font-size: 14px;
  height: 16px;
}

.userDropDown button {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  border: none;
  text-decoration: none;
  background: none;
  cursor: pointer;
  padding: 8px 14px 8px 12px;
  color: #b9babb;
}

.userDropDown button:hover small {
  color: #fff;
}

.userDropDown button span {
  color: #fff;
}

.userDropDown button:focus {
  background: white;
  color: #404346;
  outline: none;
}


.userDropDown button:focus span{
  background: white;
  color: #404346;
  outline: none;
}

.userDropDown button:focus small{
  background: white;
  color: #404346;
  outline: none;
}

.userDropDown:active {
  opacity: 0.6;
}

.userDropDown button::after {
  display: none;
}

.userDropDownMenu {
  box-shadow: 0 4px 8px rgba(38, 41, 44, 0.1);
  border-radius: 0;
  padding: 10px 0 10px;
  border: none;
  margin: 0;
  overflow: auto;
  right: 0;
  float:right;
  width: 293px;
}

.userDropDownItem {
  padding: 6px 15px 6px 15px;
  color: #26292c;
  width: 100%;
  display: flex;
  align-items: center;
}

.userDropDownItem span {
  display: flex;
  align-items: center;
}

.userDropDownItem:hover path {
  fill: white;
}

.userDropDownMenuSeparator {
  margin: 8px 0;
  height: 1px;
  background-color: #e5e5e5;
}

.userDropDownItem:hover {
  text-decoration: none;
  color: white;
  background-color: #317ae2;
}

/* .userDropDown button:hover,
button:focus {
  background: #0053ba;
} */

/* .userDropDown button:focus {
  outline: none;
} */

/* .activeContacts path {
  fill: white;
}

.dropDown button {
  padding: 12px;
  background: none;
  border: none;
  color: #b9babb;
}

.dropDown button::after {
  display: none;
}

.dropDown button:focus {
  background: white;
  color: #404346;
  outline: none;
}

.dropDown button:focus path {
  fill: black;
}

.dropDown :hover path {
  fill: white;
}

.dropDown :hover {
  color: white;
}

.dropDownMenu path {
  fill: black;
}

.dropDownMenu {
  box-shadow: 0 4px 8px rgba(38, 41, 44, 0.1);
  margin-left: 1px;
  border-radius: 0;
  border: none;
  color: black;
}

.dropDownMenu:hover path {
  fill: black;
}

.dropDownItem path {
  fill: black;
}

.dropDownItem {
  padding: 6px 15px 6px 15px;
  color: black;
  display: block;
}

.dropDownItem:hover path {
  fill: white;
}

.dropDownItem:hover {
  text-decoration: none;
  color: white;
  background-color: #317ae2;
}

.activeContacts {
  background-color: #26292c;
  color: white;
}

.activeContacts button {
  color: white;
}

.contactIcon {
  float: left;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.peopleIcon {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 5px;
}

.linkText {
  font-size: 14px;
}

.organizationIcon {
  float: left;
  margin-right: 5px;
  margin-left: 2px;
  width: 15px;
  height: 15px;
} */