<div style="max-width: 640px;
            padding: 60px 0px 20px 0px;
            text-align: center;
            margin: 0 auto;
            font-size: 14px;
            color: #3d4145;">
    Copyright © 2018
    <a style="color: #4bc465;
              text-decoration: none;" 
              href="{{ host }}">
    Leadboard
    </a> 
    by Software Planet Group Ltd.</div>
