{% set header = "text-align: center; padding: 20px; font: 400 14px/20px Open Sans, sans-serif;" %}

<div style="{{ header }}">
  <h1>
    <b>
      <a href="{{ host }}" style="color: #383838; text-decoration: none;">
        Leadboard
      </a>
    <b>
  </h1>
</div>