header {
    background-color: #404346;
}

li {
    padding: 0 5px;
    cursor: pointer;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
}

.logo {
    font-size: 25px;
    color: white;
    padding: 0 20px 0 10px;
}

.logo li,a:hover {
    text-decoration: none;
}

.logoSmall {
    composes:logo;
    display:none
}

.logoSmall h1 {
    margin: 0;
}

.item {
    padding: 13px;
    color: #b9babb;
}

.item:hover {
    cursor: default;
}


.item div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.item div:hover {
    color: white;
    cursor: pointer;
}

.itemWithLink {
    padding: 13px;
}


.rightItem {
    composes:item;
    margin-left: auto;
    padding: 4px;
}

.rightItem div:hover{
    color: #b9babb;
    cursor: default;
}

.active {
    composes: item;
    background-color: #26292c;
    color: white;
}

.icon {
    font-size: 1.5em;
    padding-right: 10px;
}

.userIcon {
    font-size: 32px;
    padding-right: 10px;
}

.userImg {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    margin-right: 10px;
}

.link {
    composes: item;
    padding: 0;
}

.currentLink {
    composes:link;
    color: white;
}

.link div {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.link:hover {
    text-decoration: none;
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 10px;
}

.userInfo small {
    font-size: 10px;
    height: 16px;
}

.userInfo span {
    font-size: 12px;
    height: 16px;

}

@media only screen and (max-width: 590px) {
    .userInfo span,small {
        display: none;
    }

    .userImg {
        padding: 0;
    }

    .userIcon {
        padding: 0;
    }

    .userInfo {
        padding: 0;
    }

    .logo {
        display: none;
    }

    .logoSmall {
        display: flex;
    }
}

