.container {
    composes: container from "../EditLeadContent/EditLeadHistory/Notes/Notes.css";
}

.timeLineBar {
    position: absolute;
    left: 18px;
    top: 0px;
    width: 2px;
    bottom: 10px;
    background-color: #f7f7f7;
    background-image: url("../../../../assets/hatch.png");
}

.activityCard {
    background-color: #ffffff;
    composes: card from "../../../common/InfoWraper/InfoItemWrapper.css";
}

.arrow {
    background-color: #ffffff;
    composes: arrow from "../../../common/InfoWraper/InfoItemWrapper.css";
}

.card {
    padding: 16px;
    composes: card from "../../../common/InfoWraper/InfoItemWrapper.css";
}