.lead-column-container {
    width: 319px;
}

.Lead__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border: 1px solid #e5e5e5;
    border-left:none;
    border-top:none
}

.Lead__info {
    flex:3;
}
.Lead__link-info {
    font: 100 14px/20px "Open Sans",sans-serif;
    color: black;
    display: flex;
    overflow: hidden;
    text-wrap: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0;
}

.Lead__link-info:hover {
    color: black;
    text-decoration: none;
}
.Lead__link-info small {
    color: #747678;
}

.Lead__link-info small:hover {
    color: #404346;
}

.small-lead-currency {
    margin-right: 5px;
}

.Lead__avatar {
    border-radius: 50%;
    width: 16px;
    padding-bottom: 4px;
    margin-right: 8px;
}

.lead-small {
    color: red;
   font-weight: lighter;
}