{% import "pattern_macros/_iconMacros.njk" as Icon %}

{% macro create(activity) %}
{% set leadPath = "https://spg-leadboard.herokuapp.com/lead/" + activity.lead._id%}
    <div class="activityTime">{{activity.date}}</div>
    <div class="activityContent">
      {# <div class="activityIcon">{{ Icon.choose(activity.type) }}</div> #}
      <div> <a href="#" style="text-decoration:none;  color: #3d4145;">{{activity.subject}}</a><br>
      <div class="linkedTo">{{activity.assignedTo.name}} · {{activity.organization.name}} · 
        <a style=" color: #727272;text-decoration:none;" href="{{leadPath}}">{{activity.lead.name}}</a>
        
        </div>
      </div>
    </div>
  </div>

{% endmacro %}