.container {
  display: block;
  padding-right: 5px;
}

.content {
  background: transparent url("../../../../../../assets/img/stage-settings/stage-arrow.png") right center no-repeat;
  background-size: cover;
  padding: 10px 46px 12px 10px;
  width: 100%;
  border-radius: 4px;
}

.stageName {
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1.2em;
  cursor: pointer;
  color: #317ae2;
}
