.sectionTag {
  text-align: center;
  margin: 24px 0px;
}

.pill {
  min-width: 100px;
  display: inline-block;
  margin: 0;
  padding: 2px 12px;
  font: 400 12px/16px "Open Sans",sans-serif;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color:white;
  border-radius: 10px;
  background-color: #747678;
}
