.header {
  height: 190px;
  padding: 20px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 24px 24px 0 24px;
}

@media (max-width: 1440px) {
  .header {
    margin: 0;
  }
}

.owner {
  display: flex;
  align-items: center;
}

.ownerBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.description {
  display: flex;
  justify-content: space-between;
}

.ownerPicture {
  margin-right: 7px;
  height: 32px;
  width: 32px;
  box-shadow: inset 0 0 0 1px rgba(38, 41, 44, 0.16);
  border: 1px solid #cccfd2;
  border-radius: 50%;
  background-color: #e1e4e7
}

.dropdownIcon {
  margin-left: 10px;
  width: 10px;
  height: 10px;
}

.ownerRole {
  font: 12px/16px "Open Sans", sans-serif;
  color: #b9babb;
  margin-left: auto;
}

.leadName:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #fffcdc;
}

.leadName {
  font: 24px/32px "Open Sans";
}

.leadOptions {
  display: flex
}

.button {
  background: #2cbf55;
  border: 0;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  height: 32px;
  min-width: 62px;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  font: 600 14px/20px Open Sans, sans-serif;
  padding: 4px 8px;
  vertical-align: top;
  margin-left: 16px
}

.button:hover {
  background: #4ec970;
}

.buttonLost {
  composes: button;
  background: #e84546
}

.buttonLost:hover {
  background: #ec6464;
}

.badge {
  margin-left: 12px;
  padding: 6px 12px;
  font: 14px/20px "Open Sans", sans-serif;
  font-weight: 600;
  border-radius: 99px;
  color: #fff;
  background-color: #2cbf55;
}

.lostBadge {
  composes: badge;
  background: #e84546
}

.leadActions {
  display: flex;
  height: 32px;
}

.reopenButton {
  background: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 0 0 15px;
  min-height: 32px;
  font: 600 14px/20px Open Sans, sans-serif;
  color: #26292c;
  box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
  padding: 6px 12px;
}

.reopenButton:hover {
  background: #f7f7f7;
}

.closedLeadActions {
  display: flex;
}

.bottomStageStatus {
  margin-top: 15px;
  font: 12px/16px "Open Sans",sans-serif;
  color: #26292c;
  padding: 0px 4px;
  cursor: pointer;
  border-radius: 4px;
  float: left;
  display: flex;
}

.bottomStageStatus:hover {
  background-color: #fffcdc;
}

.pipelineArrowSvg {
  height: 16px;
  width: 16px;
}