.leadAutocomplete {
  display: flex;
  border: 1px solid #cbcccd;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 32px;
  border-radius: 3px;
  margin-top: 8px;
}

.clearIcon {
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
  cursor: pointer;
}

.leadSpinner {
  composes: searchSpinner from "../../../../../../../layouts/Navbar/Search/Search.css";
  position: inherit;
  width: 16px;
  min-width: 16px;
  height: 16px;
  min-height: 16px;
}

.leadSpinner div {
  border-color: #b9babb;
}

.dealIcon {
  width: 18px;
  min-width: 18px;
  height: 18px;
  min-height: 18px;
  margin: 8px;
}

.dealIcon path {
  fill: #404346;
}