header {
  background-color: #404346;
}

li {
  padding: 0 5px;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: white;
  padding: 0 20px 0 10px;
}

.logo a {
  color: white;
}

.logo a:hover {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.logoSmall {
  composes: logo;
  display: none
}

.logoSmall h1 {
  margin: 0;
}

.itemWithLink {
  padding: 12px 13px;
}

.item {
  composes: itemWithLink;
  color: #b9babb;
}

.item:hover {
  cursor: default;
}

.item div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.item div:hover {
  color: white;
  cursor: pointer;
}

.rightItem {
  composes: item;
  margin-left: auto;
  padding: 4px;
}

.rightItem div:hover {
  color: #b9babb;
  cursor: default;
}

.active {
  composes: item;
  background-color: #26292c;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.icon image {
  width: 24px;
  height: 24px;
}

.userImg {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.defaultImg {
  composes: userImg;
  background-color: #686a6c;
}

.link {
  padding: 12px 13px;
  composes: item;
}

.currentLink {
  composes: link;
  background-color: #26292c;
  color: white;
}

.link div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.userInfo small {
  align-self: flex-start;
  font-size: 10px;
  height: 16px;
}

.userInfo span {
  color: #fff;
  align-self: flex-start;
  font-size: 14px;
  height: 16px;
}

@media only screen and (max-width: 590px) {
  .userInfo span, small {
    display: none;
  }

  .userImg {
    padding: 0;
    margin-right: 0;
  }

  .userIcon {
    padding: 0;
  }

  .userInfo {
    padding: 0;
  }

  .defaultImgContainer {
    margin-right: 0;
  }

  .logo {
    display: none;
  }

  .logoSmall {
    display: flex;
  }
}

.activeContacts {
  background-color: #26292c;
}

.activeContacts path {
  fill: white;
}

.contactIcon {
  composes: icon;
  float: left;
  margin-right: 5px;
}

.peopleIcon {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 5px;
}

.linkText {
  font-size: 14px;
}

.closeDropDownToggle {
  font-size: 14px;
  border: none;
  background: none;
}

.closeDropDownToggle:hover {
  background: none;
}

.closeDropDownToggle:hover path {
  color: white;
  fill: white;
}

.closedDropDown {
  composes: closeDropDownToggle;
  composes: linkText;
  padding: 5px 0px 3px 0px;
}

.closedDropDown button {
  color: #b9babb;
  background: none;
  border: none;
}

.closedDropDown button:focus {
  box-shadow: none;
}

.closedDropDown button:hover {
  background: none;
}

.openedDropDown {
  padding: 5px 0px 3px 0px;
  font-size: 14px;
  background: white;
  color: black;
}

.openedDropDown:active {
  background: white;
}

.openedDropDown span {
  color: black;
}

.openedDropDown path {
  fill: black;
}

.openedDropDown:hover path {
  fill: black;
}

.openedDropDown button {
  border: none;
  background: white;
}

.openedDropDown button:focus {
  font-size: 14px;
  box-shadow: none;
  border: none;
  color: white;
  background: white;
}

.openedDropDown button:active {
  font-size: 14px;
  box-shadow: none;
  border: none;
  color: white;
  background: white;
}

.dropDownMenu {
  margin-left: -1px;
  border-radius: 0px;
  border: none;
  box-shadow: 0px 2px 4px 2px #b9babb;
}

.dropDownMenu a {
  text-decoration: none;
  color: black;
}

.menuItemDataWrapper {
  height: 30px;
  padding: 3px 0px 5px 10px;
  font-size: 14px;
}

.menuItemDataWrapper:hover {
  font-size: 14px;
  background: #317ae2;
  color: white;
}

.dropDownMenu div:hover path {
  fill: white;
}
