header {
  background-color: #404346;
}

li {
  padding: 0 5px;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu {
  display: flex;
  width: 100%;
  align-items: center;
}

.logo {
  font-size: 25px;
  color: white;
  margin: 0 20px 0 10px;
}

.logo a {
  color: white;
}

.logo a:hover {
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.logoSmall {
  composes: logo;
  display: none
}

.logoSmall h1 {
  margin: 0;
}

.item {
  color: #b9babb;
}

.item div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.item div:hover {
  cursor: pointer;
}

.rightItem {
  composes: item;
  margin-left: auto;
  padding: 0px;
}

.rightItem div:hover {
  cursor: pointer;
}

.active {
  composes: item;
  background-color: #26292c;
  color: white;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.icon image {
  width: 24px;
  height: 24px;
}

.link {
  padding: 12px 13px;
  composes: item;
}

.currentLink {
  composes: link;
  background-color: #26292c;
  color: white;
}

.link div {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.link:hover {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

@media only screen and (max-width: 590px) {
  .logo {
    display: none;
  }

  .logoSmall {
    display: flex;
  }
}
