.activityContent {
    position: relative;
    display: flex;
    flex-direction: column;
}

.activityWrapper {
    font: 400 16px/24px "Open Sans",sans-serif;;
    color: #26292c;
    margin-bottom: 8px;
    cursor: pointer;
    word-wrap: break-word;
}

.activityWrapper:hover {
    color: #26292c;

    text-decoration: underline;
}

.markAsDone {
    margin-right: 4px;
    vertical-align: middle;
}

.checkBox {
    width: auto;
    border: none;
    padding: 0;
    box-shadow: none;
    margin-right: 3px;
}

.wrapper {
    display: flex;
    flex-direction: row;
}

.activityDetails {
    margin-right: 10px;
}

.activityDetails>span {
    font: 400 12px/16px "Open Sans",sans-serif;
    color: #747678;
}

.separator {
    margin: 0;
    padding: 0 5px;
    width: 8px;
    cursor: default;
    text-align: center;
}

.today {
    color: #2cbf55;
    display: inline-block;
    font: 600 12px/16px "Open Sans",sans-serif;
}