.EditLeadHeader {
  height: 25vh;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(204, 202, 202);
  border-radius: 3px;
  background-color: #fff;
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.EditLeadHeader__owner {
  margin-left: auto;
}

.EditLeadHeader__description {
  display: flex;
}

.EditLeadHeader__main {

}

h4{
  font: 400 24px/32px "Open Sans";
}