.edit-lead-header {
  height: 25vh;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(204, 202, 202);
  border-radius: 3px;
  background-color: #fff;
  margin-left: 8vw;
  margin-right: 8vw;
}

.edit-lead-header-main {
  display: flex;
}

.edit-lead-header-owner {
  margin-left: auto;
}

.edit-lead-header-description {
  display: flex;
}

h4{
  font: 400 24px/32px "Open Sans";
}