.EditLeadHeader {
  height: 25vh;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  border: 1px solid rgb(204, 202, 202);
  border-radius: 3px;
  background-color: #fff;
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.EditLeadHeader__owner {
  display: flex;
  align-items: center;
}

.EditLeadHeader__owner-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.EditLeadHeader__description {
  display: flex;
  justify-content: space-between;
}

.EditLeadHeader__main {

}
.EditLeadHeader__owner-picture {
  height: 32px;
  width: 32px;
}

.EditLeadHeader__dropdown-icon {
  margin-left: 10px;
  width: 10px;
  height: 10px;
}

.EditLeadHeader__lead-name--hover:hover {
  text-decoration: none;
  cursor: pointer;
  background-color: #fffcdc;
}

.EditLeadHeader__lead-name {
  font: 400 24px/32px "Open Sans";
}
