.heading {
  float: left;
  margin: 0 20px 0 0;
  padding: 0;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #26292c;
}

.content {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}