<html>
<body>
	<form action="/api2/stage" method="post">
		<input type="hidden" name="_csrf" value="<%=csrfToken %>">
		Funnel: <input type="text" name="funnel_id"><br>
		Name: <input type="text" name="name"><br>
		<input type="submit">
	</form>
</body>
</html>
