.funnel {
  background: #ffffff;
  display: flex;
  flex-direction: column !important;
  padding: 16px;
  border: 1px solid #b9babb;
  border-radius: 3px;
}

.name {
  font: 600 18px/24px "Open Sans", sans-serif;;
  color: #26292c;
}

.edit {
  composes: buttonSmall from "../../../../styles/common.css";
  padding: 1px 7px;
}

.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}

.mainHeading {
  display: flex;
}

.addButton {
  composes: buttonSmall buttonGreen from "../../../../styles/common.css";
}

.modalHeader {
  background: -webkit-linear-gradient(top, #F6F6F6 0, #e0e0e0 40px);
  height: 40px;
  padding: 8px;
  position: relative;
  font: 600 18px/24px "Open Sans", sans-serif;;
  text-shadow: 0px 1px 0px #fff;
  color: #333;
}

.nameInputContainer {
  margin-top: 15px;
  margin-left: auto;
  display: flex;
  flex-direction: row-reverse;
}

.inputContainer {
  margin: 0 10px;
}

.modalContent {
  margin: 5px;
  border-top: 1px solid #ccc;
  font-family: "Open Sans", sans-serif;
}

.modalButtons {
  margin-top: 40px;
}

.save {
  composes: button buttonGreen from "../../../../styles/common.css";
}

.save:disabled {
  opacity: 0.5;
}

.cancel {
  composes: button from "../../../../styles/common.css";
  border: none;
  text-decoration: none;
  color: #317ae2;
  box-shadow: none;
  background-color: #ffffff;
}

.modalContent form {
  padding: 5px;
}

.formInput {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 5px;
  overflow: hidden;
}

.formControl {
  padding: 20px 0 0 197px;
}

.formControl span {
  text-decoration: none;
  color: #317ae2;
  cursor: pointer;
  margin-left: 12px;
}

.saveButton {
  border-radius: 3px;
  padding: 5px 15px;
  color: #ffffff;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  background: #2cbf55;
  border: 1px solid #2cbf55;
}

.disabledSaveButton {
  composes: saveButton;
  cursor: not-allowed;
  opacity: 0.5;
}

.enabledSaveButton {
  composes: saveButton;
  opacity: 1;
}

.enabledSaveButton:hover {
  background: #3dc463;
  border: 1px solid #3dc463;
}

.formInput label {
  width: 100%;
  text-align: right;
  margin-right: 10px;
}

.input {
  padding: 3px;
  border-radius: 2px;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 32px;
  font-size: 90%;
}

.notValidInput {
  composes: input;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.6);
  border: 1px solid #e84646;
  outline: none;
}

.validInput {
  composes: input;
  border: 1px #747678 solid;
}

.validInput:focus {
  box-shadow: 0 0 6px rgba(0, 145, 245, 0.7);
  border: 1px solid #317ae2;
  outline: none;
}

