.funnel {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border: 1px solid #b9babb;
  border-radius: 3px;
}

.name {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  font-family: "Open Sans",sans-serif;
  color: #26292c;
}