.header {
  padding: 24px;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  margin: 30px 30px 0 30px;
}

@media (max-width: 1440px) {
  .header {
    margin: 0;
  }
}

.name {
  text-overflow: ellipsis;
  font: 24px/32px "Open Sans",sans-serif;
  color: #26292c;
  word-break: break-word;
  margin-top: 4px;
}

.name:hover {
  cursor: pointer;
  background-color: #fffcdc;
}

.icon {
  margin: 8px;
  fill: #317ae2;
  display: inline-block;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  user-select: none;
}

.badge {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 16px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #b9babb;
}
