.button {
  background: #fff;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  margin: 0;
  min-height: 32px;
  min-width: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  font: 600 14px/20px Open Sans, sans-serif;
  color: #26292c;
  transition: background .12s ease-in-out;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-shadow: inset 0 0 0 1px #cbcccd, 0 1px 2px rgba(38, 41, 44, .08);
  padding: 4px 16px;
  vertical-align: top;
  margin-left: 8px;
}

.backgroundColor {
  background-color: #f7f7f7;
}

.componentsBackgroundColor {
  background-color: #fff;
}

.button:focus {
  outline: none;
}

.buttonSmall {
  composes: button;
  min-height: 24px;
  min-width: 24px;
  padding: 0 8px;
  font-size: 12px;
}

.buttonGreen {
  color: white;
  background-color: #47bf53;
  box-shadow: 0 1px 2px rgba(38, 41, 44, .08);
}

.buttonGreen:hover {
  background: #4ec970;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

:global(button:focus) {
  outline: none;
}
