.stages{
    position: relative;
}

.stagesInput{
    padding-bottom: 0;
}


.stages .active ~ label{
    background: #e5e5e5;
}
.active ~ label::before {
    background: #e5e5e5;
}

.stageOptionWrapper  label.active {
    background: #2cbf55;
}

.stagesOptions {
    display: table;
    width: 100%;
    overflow: hidden;
    margin-bottom: 4px;
    border-radius: 4px;
    table-layout: fixed;
}

.radio input{
    cursor: pointer;
    width: auto;
    position: absolute;
    opacity: 0;
}


.stageOptionWrapper label {
    height: 28px;
    width: 33px;
    cursor: pointer;
    display: table-cell;
    text-align: center;
    padding: 0;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background: #2cbf55;
    position: relative;
}

.stageOptionWrapper  label::before {
    width: 20px;
    height: 24px;
    position: absolute;
    right: -11px;
    top: 2px;
    border-top: 3px solid #fff;
    border-right: 3px solid #fff;
    transform: scaleX(0.3) rotate(45deg);
    content: " ";
    background: #2cbf55;
    cursor: pointer;
    z-index: 1;
}

.active ~ label:hover {
    background: #e5e5e5;
}
.active ~ label {
    background: #e5e5e5;
}
.active ~ label::before {
    background: #e5e5e5;
}

/* Tooltip */
.keepTooltip {
    /* composes: __react_component_tooltip from global; */
    margin-top: 3px !important;
    z-index: 8000;
    
    padding: 4px 8px;
    pointer-events: auto;
    font: 400 12px/16px Open Sans,sans-serif;
    color: #fff;
    background-color: #26292c;
    border-radius: 2px;
    border: 0 solid #26292c;
    vertical-align: baseline;
    box-shadow: 0 2px 8px 0 rgba(38,41,44,.12);
}
.keepTooltip::after{
    /* composes:  from global; */
    border-width: 0 4px 4px ;
    top: -4px !important;
    border-left: 5px solid transparent !important;
    border-right: 5px solid transparent !important;
    margin-left: -4px !important;
}
.keepTooltip:hover {
    visibility: visible;
    opacity: 1;
}