.container{
  padding: 0;
  list-style-type: none;
  font-family: arial;
  font-size: 13px;
  clear: both;
  line-height: 0px;
  margin: 0 -1px;
  text-align: center;
}

.keepTooltip {
  margin-top: 3px !important;
  padding: 4px 8px;
  pointer-events: auto;
  font: 600 14px/18px Open Sans,sans-serif;
  color: #fff;
  background-color: #26292c;
  border-radius: 2px;
  vertical-align: baseline;
}
.keepTooltip::after{
  border-width: 0 4px 4px ;
  top: -4px !important;
  border-left: 5px solid transparent !important;
  border-right: 5px solid transparent !important;
  margin-left: -4px !important;
}
.keepTooltip:hover {
  visibility: visible;
  opacity: 1;
}